---
/* import BaseLayout from '../../layouts/BaseLayout.astro';
import Card from '../../components/Card.astro';

export async function getStaticPaths() {
    const allWorks = await Astro.glob('../works/*.md');
    const uniqueTags = [...new Set(allWorks.map((work) => work.frontmatter.tags).flat())];
    return uniqueTags.map((tag) => {
    const filteredWorks = allWorks.filter((work) => work.frontmatter.tags.includes(tag));
        return {
        params: { tag },
        props: { works: filteredWorks },
        };
    });
}

const { tag } = Astro.params;
const { works } = Astro.props; */
---
<!-- <BaseLayout pageTitle={tag}>
  <p>Works tagged with {tag}</p>
  <ul>
    {works.map((work) => <Card url={work.url} title={work.frontmatter.title}/>)}
  </ul>
</BaseLayout> -->