---
// Component Imports
import Button from '../components/Button.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Contact</title>
	</head>

	<body class="bg-gradient-to-r from-orange-100 via-pink-100 to-green-200 bg-300% animate-gradient">
		<Navigation/>
		<div class="grid place-items-center h-screen content-center">
			<h1 class="text-8xl font-bold mb-10 text-emerald-900">Contact</h1>
		</div>
		
		<div class="grid place-items-center h-screen content-center">
			<Button>Click me</Button>
		</div>

	</body>
</html>
