---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Contact'
---

<BaseLayout pageTitle={pageTitle}>
    <div class="grid h-screen place-items-center content-center">
        <h1 class="mb-10 text-8xl font-bold text-emerald-900">Contact</h1>
    </div>
</BaseLayout>
