---
const minibio = "I'm passionate about something something something";
---
<div class="grid place-items-center h-screen content-center">
    <h1 class="text-8xl font-bold mb-10 text-emerald-900">Hi, I'm Ciel.</h1>
    <h1 class="text-8xl font-bold mb-10 text-emerald-900">A Creative Developer.</h1>
    <p class="font-bold mb-40 text-emerald-900">{minibio}</p>
</div>