---
const minibio = "I'm passionate about something something something!"
---

<div class="m-5">
    <h1 class="mb-8 text-6xl font-bold text-emerald-900 md:text-8xl">
        Hi, I'm Ciel.
    </h1>
    <h1 class="mb-10 text-6xl font-bold text-emerald-900 md:text-8xl">
        A Creative Developer.
    </h1>
    <p class="mb-10 font-bold text-emerald-900">{minibio}</p>
</div>
