---
const minibio = "I'm passionate about something something something!"
---

<section class="flex flex-col gap-10" aria-label="Hero">
  <h1
    class="flex flex-col items-center gap-8 text-center text-6xl font-bold text-emerald-900 md:text-8xl">
    <span>Hi, I'm Ciel.</span>
    <span>A Creative Developer.</span>
  </h1>
  <p class="font-bold text-emerald-900">{minibio}</p>
</section>
