---

---

<nav
  class="sticky top-5 z-10 rounded-full border-2 border-slate-500/20 bg-white/35 px-5 backdrop-blur-lg backdrop-filter md:px-10">
  <div class="flex h-16 items-center justify-between">
    <a href="../"><span class="text-2xl font-semibold">C.P.</span></a>
    <div class="flex space-x-4 sm:space-x-20">
      <a href="../" class="transform transition hover:-translate-y-1">Work</a>
      <a href="../about" class="transform transition hover:-translate-y-1"
        >About</a
      >
      <a href="../contact" class="transform transition hover:-translate-y-1"
        >Contact</a
      >
    </div>
  </div>
</nav>
