---

---
<nav class="sticky top-5 z-10 bg-white/35 backdrop-filter backdrop-blur-lg rounded-full m-5 px-5 md:px-10 border-2 border-slate-500/20">
      <div class="flex items-center justify-between h-16">
        <a href="../"><span class="text-2xl font-semibold">C.P.</span></a>
        <div class="flex space-x-4 sm:space-x-20">
          <a href="../" class="transition transform hover:-translate-y-1">Work</a>
          <a href="../about" class="transition transform hover:-translate-y-1">About</a>
          <a href="../contact" class="transition transform hover:-translate-y-1">Contact</a>
        </div>
      </div>
  </nav>