---
// Component Imports
import Navigation from '../components/Navigation.astro';
const {pageTitle} = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<body class="bg-gradient-to-r from-orange-100 via-pink-100 to-green-200 bg-300% animate-gradient flex justify-center text-emerald-900">
		<div class="md:max-w-7xl">
			<Navigation/>
			<slot />
		</div>
	</body>
</html>
